section.testimonial .cardCstm {
    border-radius: 13px;
    border: 1px solid #FBFBFC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

section.testimonial .cardCstm .imgWrp {
    height: 60px;
    width: 60px;
    font-size: 31px;
}
section.testimonial .logos img {
    height: 80px;
    object-fit: contain;
}

